body {
	margin:0px;
	padding:0px;
	width: 100%;
	height:100%;
	position:relative;
}
html{height:100%}
/* wrapper*/
.wrapper {
	width: 100%;
	padding: 0px;
}
/*login_main*/
.login_main {
	margin:0px;
	width:100%;
}
.login_box {
	margin: auto;
	width: 400px;
	height: ;
}
.main_box_login {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.login_logo {
	text-align: center;
	margin-bottom: 50px;
}

.email_filed {
	width: 100%;
	border-bottom: 1px solid #d7d7d7 !important;
	border: 0px;
	height: 50px;
	box-shadow: none !important;
	border-radius: 0px !important;
	text-indent: 40px;
	font-size: 1.6rem;
}
.help-block.help-block-error {
	font-size: 1.5rem;
}

.password_filed {
	width: 100%;
	border-bottom: 1px solid #d7d7d7 !important;
	border: 0px;
	height: 40px;
	text-indent: 40px; 
}
.login_fild {
	position: relative;
	margin-bottom:15px;
	width: 100%;
}
.login_fild2 {
	position: relative;
margin-bottom: 40px;
	width: 100%;
}
.login_fild img {
	position: absolute;
	top: 10px;
}
.login_fild2 img {
	position: absolute;
	top: 4px;
}

.login
{
	width:100px;
	border:0px;
	background:#1dafec;
	font-size:18px;
	font-weight:600;
	text-shadow:0px;
	color:#fff;
	line-height:60px;
	width:100%;
}
.forgot_password
{
text-align: center;
font-size: 16px;
font-weight: 600;
color: #1dafec;
float: left;
width: 100%;
}
.forgot_password a
{
color: #1dafec;
text-align: center;
width: 100%;
float: left;
font-weight: 500;
letter-spacing: 0.9px;
}
.forgot_password a:hover
{
	text-decoration:none;
}

.copy_right {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.btn_login .btn.btn-primary.btn-block {
 	width:100px;
	border:0px;
	background:#1dafec;
	font-size:18px;
	font-weight:600;
	text-shadow:0px;
	border-radius:0px;
	color:#fff;
	line-height:50px;
	margin-bottom:15px;
	width:100%;
}

/*********************************/


.it h2{ color: #666; font-family: "Roboto-Light"; padding-top: 10px; }
a:hover { text-decoration: none;}


.navbar-brands {height:70px; margin:0 0 30px 0; padding:0; }

.navbar-fixed-top {
  border: 0;
}
.navbar-inverse { background:#fff;border:0; }
.navbar-inverse ul{  }
.navbar-inverse li { list-style:none; display:inline; }



.categories { font-family: "Roboto-Regular"; }
.categories ul { margin: 0; border-top: 1px solid #eee; padding-left: 11px; border-bottom: 2px solid #eee; padding-top: 15px; padding-bottom: 15px; }
.categories li { margin-right: 30px;  }
.categories li a{ font-size: 1em; color: #666;}
.categories li a:hover { color:#CC2B55;}
.categories button { margin-left: 10px;}
.txtarea { border: 1px solid #ccc; height: 60px; margin-bottom: 10px;}

/*.footer { border-top: 2px solid #eee; margin-top: 30px; margin-bottom: 30px; padding-top: 15px;font-size: 0.9em; color: #999;}*/







/***********/
.modal .img-sel
{
	  border-radius: .3rem;
}
.img-sel{text-align: center;min-height: 250px;vertical-align: middle;padding: 7% 0;   }

.cap-l{
    width: 100%;
    float: left;
    color: #fff;
    font-size: 20px;
}



/***/

.menu{
	width: 0px;
	transition:all 0.3s;
	height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #673AB7;
    padding-top: 30px;
    color:white;

}
.menu i{
	margin:5px 0px;
	top: 0px;
	right: 10px;
	position: absolute;
	font-size: 30px;

}
.fa.fa-bars {
    margin: 5px 0px;
    left: 0;
    font-size: 00px;
    color: #0f4988;
    position: absolute;
    z-index: 1;
    top: 10px;
}
.menu li{
    list-style: none;
	font-size: 20px;
	padding: 5px 0px;
	font-weight: 600;
}
.menu li:hover{
	background-color: #E91E63;
	font-size: 25px;

}
.menu ul{
	padding-top: 20px;
	padding-left: 0px;
	text-align: center;
}



.menuOpen{
	width: 375px;
    background-color: #0f4988;
	transition:all 0.3s;
}

.menuClose{
	background-color:  #673AB7;
	transition:all 0.3s;
	padding-left: 0px!important;
	transition:all 0.3s;


}
.mainOpen{
	transition:all 0.3s;
    margin-left:410px;
	transition:all 0.3s;


}

.mainClose{
	transition:all 0.3s;
    margin-left: 0px;
	transition:all 0.3s;


}


.jumbotron{
	border-radius: 0px;
	background-color: #673AB7;
	color:white;
}

.jumbotron .btn{
    border-radius: 0px;
    padding: 10px 40px;
	background-color: #E91E63;
	border:none;
}

.logout img{display: block;
    margin: 0 auto;}

.logout span {
    display: block;
    line-height: 25px;
    font-size: 2rem;
}

.footer p.copy_right {
    position: initial;
    margin-top: 15px;
	line-height: 20px;
	padding-bottom:10px;
}



.footer {
  
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 60px;*/
    line-height: 60px;
}

   .wrap {
    min-height: 100%;
    max-height: 1564px;
    padding-bottom: 25px;
    background-position: 50% 50%;
}

.modal-sm {
    max-width: 800px;
}


/*=== 24-05-2018 ===*/
.modal-dialog {
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	transform: -webkit-translate(-50%, -50%) !important;
	transform: -moz-translate(-50%, -50%) !important;
	position: absolute;
	max-width: 670px;
}
#smallShoes .cap-l {
	margin-top: 10px;
	font-size: 24px;
}
.close {
    float: right !important;
    right: 10px;
    left: auto;
    opacity: 1;
    position: absolute;
    top: 7px;
    font-weight: normal;
    font-size: 21px;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #149DE9 !important;
    line-height: 22px !important;
    z-index: 9;
}
.close span {
	color: #149DE9;
}
#smallShoes .modal-header {
	border-bottom: 0px;
}
#smallShoes .modal-body {
	padding: 50px 40px 40px;
}
#smallShoes .modal-header {
	border-bottom: 0px;
	padding: 0;
}
#smallShoes .col.img-sel {
	padding-top: 63px;
}
#InteriorQuote .modal-dialog.modal-sm {
	max-width: 900px;
	background: #f9fcfe;
	border-radius: .3rem;
}
#InteriorQuote .modal-header h3 {
	font-size: 1.5em;
	color: #1dafed;
}
#InteriorQuote .modal-header h3 img {
	float: left;
	margin-right: 7px;
}
.Detail_prt_div {
	width: 100%;
}
.Detail_inner {
	width: 330px;
	background: #fff;
	margin: 0 auto;
	float: none;
	box-shadow: 0 1px 4px #dddddd;
	display: inline-block;
	padding: 6px;
}
.Detail_inner h3 {
	display: inline-block;
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	font-size: 1.2rem;
	border-right: 0px solid #dcdcdc;
	margin: 0;
	padding: 8px 0 0;
	color: #444;
}
.nav.nav-tabs {
	border: 0;
}
.col.img-sel.interior {
	background: #145f98;
	margin-right: 10px;
}
.col.img-sel.exterior {
	background: #1dafeb;
	margin-left: 10px;
}	
.Detail_inner h3 span {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-left: 1px;
}
.clientIcon {
    position: absolute;
    left: 0;
    top: -4px;
}


.clientIcon.icon1 {
	opacity: 0;
}
.Detail_inner h3 span.headingTxt {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 15px;
    float: left;
}
.Detail_inner .nav.nav-tabs li:hover h3, .Detail_inner .nav.nav-tabs li a.active h3, .Detail_inner .nav.nav-tabs li.active h3 {
	color: #1dafed;
}
.Detail_inner .nav.nav-tabs li:hover  .clientIcon, .Detail_inner .nav.nav-tabs li a.active  .clientIcon, .Detail_inner .nav.nav-tabs li.active  .clientIcon{
	opacity:0
}
.Detail_inner .nav.nav-tabs li:hover  .clientIcon.icon1, .Detail_inner .nav.nav-tabs li a.active  .clientIcon.icon1, .Detail_inner .nav.nav-tabs li.active  .clientIcon.icon1{
	opacity:1
}
.modal-content {
	background: transparent;
}
.modal-dialog {
	background: #f9fcfe;
	border-radius: .3rem;
}
.nav.nav-tabs li {
	border-right: 1px solid #dcdcdc;
	text-align: center;
	float: left;
	width: 50%;
}
.nav.nav-tabs li:last-child {
	border-right: 0px solid #dcdcdc;
}
#InteriorQuote .tab-content {
	float: left;
	width: 100%;
	background: #fff;
	padding-top: 40px;
	margin-top: -24px;
}
.client_detail_form .form-group {
	float: left;
	width: 100%;
}
.client_detail_form {
	float: left;
	width: 100%;
	padding: 0 15px;
}
#InteriorQuote .modal-body {
	padding: 15px 0 0;
}
.client_detail_form .form-group label {
	font-size: 16px;
	font-weight: 600;
	color: #404040;
	float: left;
	width: 100%;
}
.description_input {
	float: left;
	width: 100%;
	border-radius: 4px;
	border: 0px;
	background: #f5f5f5;
	padding: 10px 10px;
	box-sizing: border-box;
	height: 60px;
}
.form-control {
	background: #f5f5f5;
	border-color: #f5f5f5;
	font-size: 16px;
}
.new_exist_client {
	float: left;
	width: 100%;
	margin-top:10px;
}
#InteriorQuote .new_exist_client .tab-content {
	padding: 15px 0 0;
	margin: 0;
}
.new_exist_client .nav.nav-tabs {
	float: left;
	width: 100%;
	text-align: left;
}
.new_exist_client .nav.nav-tabs li {
	float: left;
	display: inline-block;
	width: auto;
	text-align: left;
	padding: 0 15px;
	font-size: 14px;
}
.new_exist_client .nav.nav-tabs li h4 {
	color: #444;
	font-size: 18px;
	margin: 0;
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
}
.new_exist_client .nav.nav-tabs li:hover h4, .new_exist_client .nav.nav-tabs li a.active h4 {
	color: #1dafed;
	border-bottom: 3px solid #1dafed;
	padding-bottom: 2px;
	margin: 0;
}
.btn-group.bootstrap-select {
	width: 100% !important;
}
.dropdown-toggle::after {
	content: "";
	border: 0px;
	width: 18px;
	height: 10px;
	background-image: url(../image/selectIcon.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 10px;
	top: 13px;
}
.map_div {
	float: left;
	width: 100%;
	position: relative;
}
.map-pin {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.gotoBtn.btn.btn-primary {
	background: none;
	border: 0px;
}
.form-control.search {
	position: relative;
	padding-right: 30px;
}
.searchbtn.btn-primary {
	background: none;
	border: 0;
	position: absolute;
	right: 20px;
	top: 9px;
}
.existing_client_list {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.existing_client_list li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 5px;
	margin-top: 10px;
}
.existing_client_list li:last-child{border-bottom:0px;}
.existing_client_list li small {
	color: #7c7c7c;
}
.col.border-leftright {
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding-top: 20px;
}
.existing_client_list h3 {
	font-size: 1.1rem;
	font-weight: 600;
	color: #444;
	margin: 0;
	float: left;
	width: 100%;
}
.profile_img {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.client_name {
	font-size: 20px;
	color: #303030;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 3px;
	margin-bottom: 5px;
}
.client_email {
	color: #9a9a9a;
}
.address h4 {
	font-size: 18px;
	color: #7c7c7c;
	padding-top: 10px;
	margin: 0 0 6px;
}
.tab-pane {
	float: left;
	width: 100%;
}
.goto_btn_div {
	float: left;
	width: 100%;
	text-align: right;
	background: #fff;
}
.clear.btn-primary {
	background-color: #1daeed;
	border: 1px solid #1daeed;
	border-radius: 3px;
	padding: 4px 21px;
	margin: 12px 0 25px;
}

.row.existing_menu {
	margin-top: 20px;
}
.row.existing_client_detail {
	margin-bottom: 20px;
}
.nav-link {
	padding: 0;
	border: 0 !important;
}
