
section.header {
    float: left;
    width: 100%;
    position: relative;
}
.top-header {
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    padding-top: 40px;
}
.btm-header {
    float: left;
    width: 100%;
    /* background-image: url(/assets/images/Form-banner.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    padding: 216px 0 0;
    text-align: center; 
}
.btm-header h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}
section.main-setion {
    float: left;
    width: 100%;
}
button.btn.tab-button {
    background: #fff;
    border: 0;
    border-radius: 50px;
    color: #369CFF;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 3px 8px #e4e4e4;
    width: 250px;
    height: 60px;
    position: relative;
}

.container.pakcage-unique .modal-content {
    background: none;
    border: 0;
	overflow:inherit;
}
.modal-dialog {
    position: absolute !important;
    left: 50% !important;
top: 50% !important;  }

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#myPayment .modal-dialog {
    width: 75% !important;
	background:#fff;
}

button.btn.tab-button.dark {
    background: #152444;
    color: #fff;
    border-top-right-radius: 0;
}
.top-btn-tab.text-center p small {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #FFB534;
    position: absolute;
    right: 0;
    top: -10px;
    border-radius: 14px;
    padding: 2px 17px;
    border-bottom-right-radius: 0;
}
.top-btn-tab.text-center p {
    display: inline-block;
    margin: 0 20px 0;
    position: relative;
}
.top-btn-tab.text-center {
    float: left;
    width: 100%;
    margin-top: -31px;
}

.form-group .form-heading {
    color: #0D3766;
    font-size: 28px;
    font-weight: 700;
    display: block;
    margin: 0 0 18px;
}
.form-main-div {
    float: left;
    width: 100%;
    padding-top: 100px;
}
input.input-control {
    background: #EDEFF5;
    border: 0;
    height: 60px;
    width: 100%;
    border-radius: 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
form.main-form {
    margin: 0 auto;
    width: 570px;
}
.text-center.top-div.form-group {
    margin-bottom: 90px;
}
.text-center.btm-div.form-group label {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #152444;
    width: 40%;
    text-align: left;
    min-height: 60px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.text-center.btm-div.form-group input.input-control {
    float: right;
    width: 50%;
    text-align: left;
}
.text-center.btm-div.form-group {
    float: left;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 0px;
}
.form-block {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}
button.next-step-btn.btn {
    float: left;
    width: 100%;
    background: #369CFF;
    border-radius: 60px;
    padding: 15px 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.form-block.last {
    margin-bottom: 60px;
}
.block {
    display: none;
}
.block.active {
    display: inline-block;
}


.pagination {
    background: transparent;
    width: 100%;
    margin: auto;
    text-align: center;
    float: left;
    margin: 50px 0;
    overflow: hidden;
    justify-content: center;
}

.page {
    width: 14px;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    margin: 0 5px;
    cursor: pointer;
    height: 14px;
    border-radius: 50px;
    background: #C6C9D4;
    text-indent: 9888px;
    float: none;
}
.page.active {
    background: #369cff;
}
input.income-statement.input-control {
    color: #fff;
    background: #369cff;
}

section.main-setion {
    float: left;
    width: 100%;
    padding-bottom: 100px;
}


/*==== Expiration datepicker css ====*/

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
	border: 1px solid #c5c5c5;
	width:250px;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em; 
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
	color: #333333; 
   font-weight: bold; 
} 
.ui-datepicker table { 
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
 
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}
.ui-datepicker th span{width:100%;float:left;}

/*==== Expiration datepicker css ====*/
 

/*==== DASHBOARD STYLE ====*/
.banner h1 {
    font-size: 60px;
    width: 100%;
    font-weight: 700;
    margin-bottom: 20px;
}
.main_dashboard_banner{
    float: left;
    width: 100%;
    /* background: url(/assets/images/banner.png); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100vh;
   
}
.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 0rem rgba(220,53,69,.5);
}
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 0px;
}
.deal-status select.loadDealSelect {
    background: #369CFF;
    color: #fff;
}
.main_dashboard_banner .navbar {
    padding-top: 40px;
}
.main_dashboard_banner .logo {
    float: left;
    width: auto;
    position: relative;
    z-index: 1;
}
ul.right-navigation {
    float: right;
    position: relative;
    z-index: 1;
    width: auto;
}
ul.right-navigation li {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
ul.right-navigation li a {
    background: #fff;
    color: #369cff;
    font-size: 16px;
    min-width: 130px;
    padding: 14px 35px;
    border: 0;
    border-radius: 50px;
    font-weight: 700;
    margin-top: 0;
    display: inline-block;
    text-align: center;
}

ul.right-navigation li:last-child:after{width:0px}
.main_dashboard_banner .banner {

    float: left;
    width: 100%;
    color: #fff;
   
    margin-top: 0;
}
.inner-pages-main .Skew_dashboard-div:before {
    top: -170px;
}
.main_dashboard_banner .banner p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 40px;
}
.main_dashboard_banner .banner p {
    font-size: 18px;
    /*width: 60%;*/
    line-height: 23px;
    margin-top: 12px;
    font-weight: 900;
}
.main_dashboard_banner .banner button {
    background: #fff;
    color: #369cff;
    font-size: 16px;
    min-width: 230px;
    padding: 17px 10px;
    border: 0;
    border-radius: 50px;
    font-weight: 700;
}
.main_dashboard_banner .banner p.free {
    font-size: 14px;
    padding: 4px 0 0;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-content {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    
}
.main_dashboard_banner .banner-content {
    top: 250px;
}
.main_dashboard_banner #contentToConvert .banner-content {
    top: 0;
}



/*----------------------------------------------*/
.Skew_dashboard-div{
    float: left;
    width: 100%;
    position: relative;
    height: 680px;
    top: -110px;
    z-index: 0;
}
.Skew_dashboard {
    transform: skewY(5deg);
    background: #edeff5;
    width: 100%;
    height: 100%;
}
.Skew_dashboard-div-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0;
    width: 100%;
}
.Skew_dashboard_cards{
     float: left;
    width: 100%;
    margin-top: 20px;
}
.Skew_dashboard-l {
    float: left;
    width: 100%;

}
.Skew_dashboard-l h1 {
    color: #0D3766;
    font-weight: 700;
    font-size: 60px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    width: 100%;
    margin-right: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.19);
        padding: 15px 44px 10px 44px;
    text-align: center;
    margin-bottom: 20px;
    min-height: 270px;
    padding-top: 60px;
}
.Skew_dashboard_cards .top-m{
   margin-top: 50px;
    margin-bottom: 20px;
}
.Skew_dashboard h1 {
    font-size: 40px;
    color: #002d5e;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card img {
    width: 52%;
    margin-bottom: 50px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card h5 {
    font-size: 16px;
    color: #002d5e;
    font-weight: 800;
}
.Skew_dashboard .Skew_dashboard-r {
    margin-top: 70px;
}
.Skew_dashboard-r img {
    width: 100%;
}
.l-skew-in-div1 {
    float: left;
   width: 43%;
   margin-top: 20px;

}
.l-skew-in-div2 {
    float: left;
    width: 43%;
    margin-left: 17px;
}
/*--------------------------------------------------*/

.Capstack_reports {
    float: left;
    width: 100%;
    padding: 220px 0 180px 10px;
    position: relative;
}
.Optimal_Price-l h1 {
    font-size: 60px;
    font-weight: 700;
}
.Optimal_Price-l {
    float: left;
    width: 80%;
}
.Optimal_Price-l p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}
.Capstack_reports img {
    width: 85%;
}
.Capstack_reports h1 {
    color: #11305A;
    font-size: 60px;
    font-weight: 700;
}
.Capstack_reports p {
    font-size: 16px;
    color: #9FA6B4;
    font-weight: 600;
    margin: 20px 0;
}
.Capstack_reports h6 {
    font-size: 18px;
    color: #369CFF;
    font-weight: 700;
    margin: 10px 0 10px;
    float: left;
    width: 54%;
    line-height: 23px;
}
.Capstack_reports ul li {
    font-size: 14px;
    float: left;
    width: 94%;
    list-style: disc;
    font-size: 16px;
    color: #9FA6B4;
    font-weight: 600;
    list-style-position: outside;
    padding-left: 3px;
    margin: 4px 0 5px 16px;
}
.left-laptop-img{
    position: absolute;
    left: -220px;
    top: 220px;
}
/*--------------------------------------------------*/

.Optimal_Price{
 float: left;
    width: 100%;
    /* background: url(/assets/images/Group_14.png); */
    background-size: cover;
    background-repeat: no-repeat;
}
.Optimal_Price-content{
    padding: 0;
    color: #fff;
    position: relative;
    float: left;
    width: 100%;
}
.Optimal_Price-price {
    float: left;
    width: 100%;
    text-align: right;
     margin-bottom: 30px;
}
.inner-optcal {
    float: right;
    width: fit-content;
}
.inner-optcal h3 {
    background: #fff;
    min-height: 70px;
    color: #11305A;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 10px;
    font-size: 18px;
    /* display: inline-block; */
    float: left;
    border-radius: 10px 0 0 10px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 22px;
    text-align: left;
}
.inner-optcal h4 {
    background: #29468a;
    min-height: 70px;
    color: white;
     justify-content: center;
     align-items: center;
    display: flex; 
    padding: 10px 10px;
    font-size: 17px;
   /* display: inline-block;*/
    float: right;
     border-radius: 0px 10px  10px 0;
     text-align: center;
     font-weight: 700;
}
.Optimal_Price-price.asking h3 {
          padding: 4px 15px;
}

.Optimal_Price-price.asking h4 {
       padding: 5px 40px;
}

.Optimal_Price-price.target-irr h3 {
          padding: 4px 15px;
}

.Optimal_Price-price.target-irr h4 {
       padding: 5px 60px;
}
.Optimal_Price-price.purchase h3 {
    padding: 14px 11px;
}

.Optimal_Price-price.target h4 {
    padding: 34px 60px;
    min-height: 81px;
}
.Optimal_Price-price.purchase  {
        margin-bottom: 0px;
}

.Optimal_Price-price.purchase h3 {
         padding: 17px 23px;
}

.Optimal_Price-price.purchase h4 {
    padding: 34px 39px;
    background: #55dc93;
    min-height: 100px;
}
.banner a{
    background: #fff;
    color: #369cff;
    font-size: 16px;
    min-width: 230px;
    padding: 20px 60px;
    border: 0;
    border-radius: 50px;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
}
img.banner-responsive {
    display: none;
}
.banner-image {
    float: left;
    width: 100%;
    position: relative;
    z-index: 0;
    background: #369CFF;
    height: 100vh;
}
.banner-image img.banner-desktop {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 100%;
    min-width: 100%;
    width: auto;
}
.Skew_dashboard-r {
    position: absolute;
    right: 25px;
    top: 170px;
    width: 46%;
}
.optical-background {
    float: left;
    width: 100%;
    position: relative;
}
.optical-background img {
    width: 100%;
}
.optical-content {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    padding: 280px 0 120px 0;
}
img.banner-desktop {
    position: absolute;
    right: 0px;
    bottom: 20px;
}
.growing-h1.responsive {
    display: none;
}
.Skew_dashboard_Single_card h5.responsive {
    display: none;
}
.Optimal_Price-r {
    float: left;
    width: 100%;
    padding-right: 88px;
    margin-top: 40px;
}
.optical-content .col-md-5.col-sm-5.col-xs-5 {
    width: 39%;
}
.optical-content .col-md-7.col-sm-7.col-xs-7 {
    width: 53%;
}
/* .main_dashboard_banner .logo img {
    width: 175px;
} */



/*== Login- page css start ==*/
.login-overlay {
    width: 100%;
    min-height: 100%;
    float: left;
	padding:30px;
}
.login-outer-main {
    float: left;
    width: 100%;
    min-height: calc(100vh - 122px);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.login-footer {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 20px 100px 50px;
    bottom: 0;
}
.login-footer ul.footer-list li {
    display: inline-block;
    margin-right: 80px;
}
.login-footer ul.footer-list li a {
    display: inline-block;
 
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4fa8ff;
}
.login-footer ul.footer-list {
    float: left;
    list-style: none;
}
.login-footer .copy-right {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #f7f7f7;
    float: right;
}
.login-inner-main {
    width: 669px;
    height: 727px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative;
    padding: 76px 0 0 60px;
    overflow: hidden;
    margin: 100px auto 0;
}
.login-form {
    float: left;
    width: 100%;
    margin-top: 70px;
    position: relative;
    z-index: 9;
}
.login-form .form-group {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.login-form .form-group label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #AFB1C0;
}
.login-form .form-group input.form-control {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC9DE;
    padding: 0 0;
    height: 40px;
    border-radius: 0;
}
p.forgot-pass {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #AFB1C0;
}
input.ng-tns-c4-3.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
    background: #fafbfe;
    box-shadow: inset 0 0 10px rgba(0,0,0,.05);
    border-radius: 75px;
    border: 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 6px 16px;
}
p.forgot-pass a {
    color: #369cff;
    font-size: 16px;
}
button.btn.login {
    width: 233px;
    height: 60px;
    background: #369CFF;
    border-radius: 75px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border:0px;
}
.login-background {
    position: absolute;
    right: -4px;
    bottom: -14px;
    z-index: 0;
}
.login-background img {
    width: 90%;
    float: right;
}

.modal-dialog {
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
}
.modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}
div#myPackage button.close {
    color: #ffffff;
    border: 2px solid #ffffff;
    right: 24px;
    z-index: 999;
    top: 23px;
}
div#myPayment button.close {
    color: #369cff;
    border: 2px solid #369cff;
    right: -20px;
top: -20px;
    z-index: 99999;
}
button.close {
    position: absolute;
    right: 14px;
    top: 13px;
    opacity: 1;
    font-size: 33px;
    font-weight: 300;
    color: #369cff;
    border: 2px solid #369cff;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 33px;
    text-align: center;
}
.login-form h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
}
.login-form p.forgot-password {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #afb1c0;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
/*== Login- page css end ==*/

/*== package- page css start ==*/
.payment-main {
    float: left;
    width: 100%;
    margin-top: 0;
    position: relative;
   
}
.payment-main .container-fluid {
    padding: 0;
}
.Package-main {
    margin: 0 auto;
    width: 1050px;
    overflow: hidden;
    text-align: center;
}
.Package-main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #242424;
    text-shadow: 0 0 5px rgba(255,255,255,.05);
    margin-bottom: 15px;
	margin-top:20px;
}
.Package-main p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #5e5c5c;
    width: 100%;
    text-align: center;
}
.package-report {
    max-width: 100%;
    margin: 80px auto 0;
    text-align: center;
    display: block;
    width: 1080px;
}
.package-report .report-box:first-child {
    margin-left: 0;
}
.package-report .report-box {
    position: relative;
    width: 29%;
    display: inline-block;
    margin: 0 3%;
    text-align: center;
}
.report-top {
    position: absolute;
    top: -24px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 9;
}
.report-top-img {
    position: relative;
}
.report-top h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0;
    color: #fff;
    position: absolute;
    top: 22px;
    width: 100%;
}
.report-top .price {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    position: absolute;
    top: 34px;
    padding: 0 10px;
}
.price {
    float: left;
    width: 100%;
    margin: 7px 0;
}
.report-top .price {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    position: absolute;
    top: 34px;
    padding: 0 10px;
}
.price span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    top: -14px;
    position: relative;
    margin-right: 3px;
}
.price small {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
}
.report-botm {
    background: #fff;
    box-shadow: 0 0 7px rgba(0,0,0,.12);
    float: left;
    width: 100%;
    border-radius: 20px;
    padding: 100px 40px 40px;
    position: relative;
}
.report-botm h3 {
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #0d3766;
}
.report-botm p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #afb1c0;
    text-transform: uppercase;
    margin: 11px 0 20px;
    float: left;
    width: 100%;
}
ul.report-list {
    float: left;
    width: 100%;
	padding-left:0;
}
ul.report-list li {
    padding-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #666;
    position: relative;
    margin: 5px 0 21px;
    text-align: left;
	list-style:none;
}
span.report-img {
    position: absolute;
    left: 0;
    top: 0;
}
span.report-img img {
    width: 12px;
}
button.btn.select-package, .button.btn.select-package:not(:disabled):not(.disabled).active, .button.btn.select-package:not(:disabled):not(.disabled):active {
    width: 180px;
    height: 52px;
    left: 50%;
    bottom: -25px;
    background-color: #00aef0;
    border-color: #00aef0;
    border-radius: 0.25rem;
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-style: normal;
    font-weight: 400;
    font-size: 15px; 
    line-height: 22px;
    color: #fff;
}
.package-report .report-box:last-child {
    margin-right: 0;
}

/*== package- page css end ==*/


/*== Payment- page css start ==*/
.payment-method {
    float: left;
    width: 100%;
    padding: 0;
}
h3.pay-heading {
    font-weight: 500;
    font-size: 20px;
    color: #383838;
    margin:0 0 10px;
}
.pay-form .form-group.images {
    margin: 15px 0;
}
.pay-form span.card-icon {
    width: 126px;
    height: 60px;
    background: #fff;
    border: 1px solid #369cff;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    border-radius: 7px;
    float: left;
    text-align: center;
    padding: 16px 40px;
}
.pay-form .form-group {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.pay-form label {
   
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    color: #787a88;
    float: left;
    width: 45%;
    margin: 0;
}
input.input-control.pay-input {
    background: #fafbfe;
    border-radius: 3px;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    color: #343434;
    width: 55%;
    height: 42px;
	border: 1px solid #ced4da;
    text-align: left;
    padding: 4px 14px;
}
.payment-method.transparent {
    background: 0 0;
    box-shadow: none;
}
.payment-method.transparent h3.pay-heading {
    color: #383838;
    margin-bottom: 15px;
}
.payment-method.transparent p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #848484 ;
}

button.btn.sve-btn {
    width: 100%;
    height: 52px;
    left: 1341px;
    top: 522px;
    background-color: #00aef0;
    border-radius: 0.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
	font-weight:400;
    margin-top: 10px;
}
*:focus {
    outline: 0;
}
::ng-deep  .input-control.pay-input.rreeqq {
    width: 50%;
    float: right;
}
::ng-deep .ui-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
}
:host >>> .input-control.pay-input {
    float: right;
    width: 60%;
    text-align: left;
}
::ng-deep  .input-control.pay-input input {
    background: #fafbfe;
    box-shadow: inset 0 0 10px rgba(0,0,0,.05);
    border-radius: 75px;
    border: 0;
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #afb1c0;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 6px 16px;
}
:host >>> .input-control.pay-input {
    float: right;
    width: 60%;
    text-align: left;
}
:host >>> .input-control.pay-input input {
    background: #fafbfe;
    box-shadow: inset 0 0 10px rgba(0,0,0,.05);
    border-radius: 75px;
    border: 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #afb1c0;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 6px 16px;
}
:host >>> .input-control.pay-input .ui-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
}
:host >>> .input-control.pay-input input {
    background: #fafbfe;
    box-shadow: inset 0 0 10px rgba(0,0,0,.05);
    border-radius: 75px;
    border: 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #afb1c0;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 6px 16px;
}

:host >>> .input-control.pay-input input {
    background: #fafbfe;
    box-shadow: inset 0 0 10px rgba(0,0,0,.05);
    border-radius: 75px;
    border: 0;
 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 6px 16px;
}
:host >>> .input-control.pay-input {
    width: 50%;
    float: right;
}
input::-webkit-input-placeholder {
color: #828080   !important;
}
input::-moz-input-placeholder {
    color: #828080   !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #828080   !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #828080   !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #828080   !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #828080   !important;
  }

/*== Payment- page css end ==*/
p-calendar.input-control.pay-input.rreeqq {
    width: 50%;
    float: right;
}
.ui-calendar {
    position: relative;
    display: inline-block;
    width: 100%;
}

@media only screen and (max-width:2880px){
    .container {
        max-width: 1500px;
        width: 1500px;
    }
    .Skew_dashboard-div {
        top: -125px;
        height: 910px;

    }
    .Skew_dashboard-div-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 183px 0 50px;
        width: 100%;
    }
    .Skew_dashboard-r {
        position: absolute;
        right: 92px;
        top: 265px;
        width: 43%;
    }
    .Skew_dashboard_cards .Skew_dashboard_Single_card {
        min-height: 330px;
        padding-top: 60px;
    }
    .Optimal_Price-r {
        margin-top: 44px;
    }
}
@media only screen and (max-width:1920px){
    .container {
        max-width: 1200px;
        width: 1200px;
    }
    .Skew_dashboard-div {
        top: -125px;
        height: 910px;
    }
    .Skew_dashboard-r {
        top: 362px;
    }
    .Skew_dashboard-div {
        top: -125px;
        height: 807px;
    }
    .Skew_dashboard-r {
        position: absolute;
        right: 92px;
        top: 282px;
        width: 44%;
    }
    .Skew_dashboard-div-content {
        padding: 130px 0 50px;
    }
    .Skew_dashboard_cards .Skew_dashboard_Single_card {
        min-height: 300px;
        padding-top: 60px;
    }
}
@media only screen and (max-width:1919px){
    /*== Payment ==*/
    .pay-form .form-group.images {
        margin: 37px 0;
    }
    button.btn.sve-btn {
        width: 100%;
        margin-top: 44px;
    }
    input.input-control.pay-input{
        width: 60%;
    }
    .pay-form label {
        width: 40%;
    }
    :host >>> .input-control.pay-input {
        width: 60%;
        float: right;
    }
    input.input-control.pay-input {
        width: 60%;
    }
    p-calendar.input-control.pay-input.rreeqq {
        width: 60%;
        float: right;
    }
    .input-control.pay-input.rreeqq.ng-untouched.ng-pristine.ng-valid {
        width: 60%;
        float: right;
    }
}
@media only screen and (max-width: 1680px) {

.Skew_dashboard-div {
    top: -148px;
}
.left-laptop-img {
    width: 70%;
}
.Capstack_reports img {
        width: 96%;
        margin-top:2px;
    }
.Skew_dashboard-div {
  top: -82px;
}
  .optical-content {
    padding: 230px 0 120px 0;
}
}

@media only screen and (max-width: 1600px) {
  .optical-content {
    padding: 220px 0 120px;
}
.Capstack_reports {
    padding: 180px 0 110px 10px;
}
.Optimal_Price-r {
    padding-right: 0;
    margin-top: 40px;
}
.optical-background {
    height: 670px;
}
.optical-background img {
    width: auto;
    height: 100%;
    max-width: 100%;
}

/* == Login style ==*/
.login-inner-main {
    padding: 44px 0 0 50px;
    margin: 50px auto 0;
    height: 657px;
    height: 647px;
    position: relative;
}
.login-form {
    float: left;
    width: 100%;
    margin-top: 33px;
}
.login-footer {
    padding: 20px 100px 30px;
}
/* == Login style ==*/
}

@media only screen and (max-width: 1599px) {
.banner-imag img {
    width: auto;
    height: 100%;
}
.Skew_dashboard-div {
    top: -72px;
}

.Capstack_reports p {
    font-size: 16px;
    line-height: 20px;
}
.Capstack_reports h6 {
    font-size: 16px;
}

.optical-content {
    padding: 147px 0 120px;
}
.Capstack_reports{
    padding: 139px 0 105px 10px;
}
.left-laptop-img {
        top: 150px;
}
.banner-content {
    top: 190px;
}
.left-laptop-img {
    top: 145px;
}
.Skew_dashboard-div-content {
    padding: 90px 0 50px;
}
.l-skew-in-div1{
    margin-top: 0;
}
.Skew_dashboard_cards .top-m {
    margin-top: 28px;
    margin-bottom: 20px;
}
/* == Login style ==*/
.login-inner-main {
    padding: 44px 0 0 50px;
    margin: 40px auto 0;
    height: 657px;
    height: 585px;
    position: relative;
}
.login-footer {
    padding: 20px 100px 10px;
    margin-top: 15px;
}

/* == Login style ==*/
/* == Payment style ==*/
button.btn.sve-btn {
    margin-top: 10px;
}
.input-control.pay-input.rreeqq.ng-untouched.ng-pristine.ng-invalid {
    width: 60%;
    float: right;
}
.input-control.pay-input.rreeqq.ng-untouched.ng-pristine.ng-valid {
    float: right;
    width: 60%;
}
.package-report {
    max-width: 100%;
    margin: 40px auto 0;
    text-align: center;
    display: block;
    width: 1080px;
}
.pay-form .form-group.images {
    margin: 15px 0;
}


}
@media only screen and (max-width: 1440px){

.container {
    max-width: 950px;
    width: 950px;
}
.banner h1 {
    font-size: 46px;
}
.Skew_dashboard-l h1 {
    color: #0D3766;
    font-weight: 700;
    font-size: 46px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    padding: 15px 24px 10px 24px;
    min-height: 240px;
    padding-top: 48px;
}
.Skew_dashboard-div {
    height: 608px;
}
.Optimal_Price-r {
    padding-right: 0;
}
.Optimal_Price-l h1 {
    font-size: 46px;
    font-weight: 700;
}
.Optimal_Price-l p br{display: none;}
.Capstack_reports h1 {
    font-size: 46px;
}
.Capstack_reports h6 {
    font-size: 16px;
    width: 64%;
}
.Skew_dashboard-r {
    position: absolute;
    right: 25px;
    top: 200px;
    width: 49%;
}
.Capstack_reports h6 {
    font-size: 16px;
    width: 60%;
}


}

@media only screen and (max-width: 1439px){
.Skew_dashboard-div{
       top: -68px;
}
.banner-content {

    top: 199px;
}
/* .Capstack_reports {
    padding: 9px 0 105px 10px;
} */
.left-laptop-img {
    top: 134px;
}
.banner-image img.banner-desktop {
    position: absolute;
    right: 0px;
    bottom: -10px;
    height: 100%;
    width: auto;
}
.banner h1 {
    font-size: 39px;
    width: 100%;
    font-weight: 700;
    margin-bottom: 0;
}
.main_dashboard_banner .banner p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 3px;
}
.banner a {
    background: #fff;
    color: #369cff;
    font-size: 16px;
    margin-top: 16px;
}
.main_dashboard_banner .banner p.free {
    font-size: 12px;
    padding: 6px 0 0;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-image {
    height: 690px;
}

.main_dashboard_banner .banner {
    height: 690px;
    margin-top: 0;
}
div#contentToConvert .banner {
    height: auto;
}
.main_dashboard_banner {
    height: 690px;
}
.Skew_dashboard-l h1 {
    color: #0D3766;
    font-weight: 700;
    font-size: 39px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.Skew_dashboard-div {
    height: 604px;
    margin-bottom: 50px;
}
.Capstack_reports h1 {
    color: #11305A;
    font-size: 39px;
    font-weight: 700;
}
.Capstack_reports ul li {
    font-size: 14px;
}
.Optimal_Price-l h1 {
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 0;
}
.Optimal_Price-l p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 19px;
}
.Capstack_reports img {
    width: 96%;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    padding: 45px 34px 10px 34px;
}
.Optimal_Price-r {
    padding-right: 0;
}
.optical-background {
    float: left;
    width: 100%;
    position: relative;
    height: 680px;
}
.optical-background img {
    width: auto;
    height: 100%;
    max-width: 100%;
}
.Optimal_Price-r{
    margin-top: 40px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    padding: 45px 23px 10px;
}
.package-report {
    margin: 60px auto 0;
}
}
@media only screen and (max-width: 1366px) {
.report-botm {
    padding: 90px 50px 50px;
    position: relative;
}
}

@media only screen and (max-width: 1365px) {
.Skew_dashboard-div{
    top: -58px;
}

.banner-content {
    top: 220px;
}
.left-laptop-img {
    top: 20px;
}

.left-laptop-img {
    top: 145px;
}
.Capstack_reports {
    padding: 125px 0 105px 10px;
}
.banner h1 {
    font-size: 39px;
    width: 100%;
    font-weight: 700;
    margin-bottom: 20px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card img {
    width: 52%;
    margin-bottom: 35px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    padding: 44px 24px 10px 24px;
    min-height: 240px;
}
.payment-method {
    width: 100%;
    padding: 20px;
}
.payment-method.transparent p {
    line-height: 21px;
}
}

@media only screen and (max-width: 1299px) {
.optical-content {
    padding:166px 0 170px;
}
.package-report {
    max-width: 100%;
    margin: 40px auto 0;
}
.Package-main h1 {
    margin-bottom: 7px;
}
.report-botm {
    padding: 90px 50px 40px;
    position: relative;
}
}


@media only screen and (max-width: 1279px) {
.Skew_dashboard-div {
  top: -53px;
}
.main_dashboard_banner .banner p {
    margin-bottom: 15px;
}
.Skew_dashboard_cards {
    margin-top: 60px;
}
.Skew_dashboard-r {
    top: 320px;

}
.Optimal_Price-price {
    margin-bottom: 10px;
}
/*== Login css ==*/
.login-inner-main {
    padding: 32px 0 0 36px;
    margin: 30px auto 0;
    height: 657px;
    height: 525px;
    position: relative;
    width: 559px;
}
.login-form .form-group {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.login-footer {
    padding: 20px 100px 10px;
    margin-top: 10px;
}
.payment-method {
    min-height: 540px;
}
.pay-form label {
    width: 100%;
    line-height: 26px;
}
input.input-control.pay-input, .input-control.pay-input {
    width: 100%;
}
:host >>> .input-control.pay-input {
    width: 60%;
}
input.input-control.pay-input {
    width: 100%;
    font-size: 14px;
}
.input-control.pay-input {
    float: right;
    width: 100%;
    text-align: left;
}
.pay-form .form-group.images {
    margin: 43px 0;
}
.payment-method.transparent {
    background: 0 0;
    box-shadow: none;
    padding: 20px 0 0;
}
.payment-main {
    min-height: calc(100vh - 60px);
}
p-calendar.input-control.pay-input.rreeqq.ng-untouched.ng-pristine.ng-valid {
    width: 100%;
    float: left;
}
.input-control.pay-input.rreeqq.ng-untouched.ng-pristine.ng-valid {
    float: right;
    width: 100%;
}
.ui-calendar {
    width: 100%;
}
p-calendar.input-control.pay-input.rreeqq.ng-untouched.ng-pristine.ng-invalid {
    width: 100%;
    float: right;
}
p-calendar.input-control.pay-input.rreeqq {
    width: 100%;
    float: right;
}
}
@media only screen and (max-width:1200px){
    /*== Login css ==*/
    .login-outer-main {
        float: left;
        width: 100%;
        min-height: calc(100vh - 82px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-background img {
        width: 84%;
        float: right;
    }
    .report-botm {
        padding: 80px 15px 50px;
        position: relative;
    }
    
}
@media only screen and (max-width: 1199px) {
.main_dashboard_banner .banner p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 500;
}
.banner-content {
    top: 160px;
      left: 0;
}
.Skew_dashboard-div {
       top: -138px;

}

.banner a {
padding: 17px 60px;
    font-size: 16px;
}
.main_dashboard_banner .banner p.free {
    padding: 6px 0 0;
    font-size: 12px;
}
.Skew_dashboard-l h1 {
    font-size: 39px;
}
.banner h1 {
    font-size: 39px;
    margin-bottom: 0;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    min-height: 220px;
        padding-top: 43px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card img {
    width: 52%;
    margin-bottom: 35px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card h5 {
    font-size: 14px;
    color: #002d5e;
}
.Skew_dashboard_cards {

    margin-top: 50px;
}
.Skew_dashboard-r {
    top: 210px;
}
.left-laptop-img {
    top: 120px;
    width: 76%;
}
.Capstack_reports {
    padding: 109px 0 105px 10px;
}
.Capstack_reports h1 {
    font-size: 39px;
}
.Capstack_reports p {
    font-size: 14px;
    margin-bottom: 0;
}
.Optimal_Price-l h1 {
    font-size: 39px;
}
.inner-optcal h3 {
line-height: 17px;
    font-size: 13px;
}
.Optimal_Price-price.target h4 {
    min-height: 71px;
}
.Optimal_Price-price {
    margin-bottom: 11px;
}
.Optimal_Price-price.purchase h4 {
    padding:34px 35px;
    min-height: 60px;
}
.optical-content {
    padding: 167px 0 120px;
}
.btm-header h2 {
    font-size: 39px;
    margin-top: -3px;
}
.banner h1 {
    font-size: 39px;
}

.Skew_dashboard-div {
       top: -50px;
}

.banner-content {
         top:169px;
}
.Optimal_Price-l {
    float: left;
    width: 100%;
}
.banner-image img.banner-desktop {
    position: absolute;
    right: 0;
    bottom: -12px;
    height: 88%;
    width: auto;
}
.Optimal_Price-r {
    float: left;
    width: 100%;
    padding-right: 38px;
    margin-top: 50px;
}

.Optimal_Price-price.target h4 {
    padding: 26px 60px;
}

.Skew_dashboard_cards {
    margin-top: 10px;
    padding: 0 20px;
}
.Skew_dashboard-div {
    height: 569px;
}
.Capstack_reports h6 {
    font-size: 14px;
    width: 52%;
    line-height: 20px;
    margin-top: 20px;
}
.Capstack_reports ul li {
    font-size: 14px;
}
.Optimal_Price-l p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 17px;
}
.banner-image {
    height:560px;
}
.main_dashboard_banner .banner {
    height: 560px;
    margin-top: 0;
}
div#contentToConvert .banner {
    height: auto;
}
.main_dashboard_banner {
    height: 560px;
}
.Capstack_reports img {
    margin-top: 6px;
}
.login-overlay ul.footer-list li {
    display: inline-block;
    margin-right: 63px;
}
.main_dashboard_banner.inner-pages-main .container-fluid, .payment-main .container-fluid {
    padding: 0 50px;
}
.Package-main h1 {
    margin-bottom: 10px;
}
.package-report {
    margin: 39px auto 0;
}
.report-botm {
    padding: 77px 15px 30px;
    position: relative;
}
.login-footer {
    padding: 20px 100px 10px;
    margin-top: 30px;
}
.login-footer {
    padding: 20px 100px 10px;
    margin-top: 0;
}
}

@media screen and (max-width: 1024px) {
    .banner-image {
        height:550px;
    }
    .main_dashboard_banner .banner {
        height: 550px;
        margin-top: 0;
    }
    .main_dashboard_banner {
        height:550px;
    }
    .Capstack_reports img {
        margin-top: 28px;
    }
    .login-overlay ul.footer-list li {
        display: inline-block;
        margin-right: 44px;
    }
    button.btn.select-package, .button.btn.select-package:not(:disabled):not(.disabled).active, .button.btn.select-package:not(:disabled):not(.disabled):active {
        width: 160px;
        height: 50px;
        bottom: -25px;
    }
    .login-outer-main {
        min-height: calc(100vh - 82px);
    }
	.login-overlay{padding:20px;}
	.container.pakcage-unique .Package-main{width:100%;}
	.main_dashboard_banner.inner-pages-main .container-fluid, .payment-main .container-fluid {
    padding: 0;}
	.Package-main h1{font-size:30px;}
	
	
    
}

 

 







 

@media only screen and (max-width: 768px){

.Optimal_Price-l{
    float: left;
    width: 100%;
}
.optical-background {
    height: 500px;
}
.optical-background img {
    width: 100%;
    height: 500px;
}
.inner-optcal h3 {
    min-height: 63px;
}
.inner-optcal h4 {
 min-height: 63px;
}
.Optimal_Price-price.target h4 {
    min-height: 63px;
}
 
.login-overlay {
    padding: 0;
} 
.Package-main h1{margin-top:40px;} 
.package-report .report-box{margin:0 12px;} 

button.btn.select-package, .button.btn.select-package:not(:disabled):not(.disabled).active, .button.btn.select-package:not(:disabled):not(.disabled):active {
    width: 135px;
    height: 42px;
    bottom: -20px;
} 
 
.banner a {
    padding: 14px 60px;
   min-width: 217px;
   margin-top: 9px;
}
.main_dashboard_banner .banner p.free {
    padding: 6px 0 0;
    margin-top: 0;
}
.left-laptop-img{
    top: 75px;
}
.Optimal_Price-price.purchase h4 {
    padding: 31px 22px;
    min-height: 79px;
    font-size: 16px;
    min-width: 147px;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card {
    padding: 45px 16px 10px 17px;
}
button.btn.sve-btn {
    margin-top: 4px;
}
.pay-form .form-group {
    margin: 4px 0;
}
h3.pay-heading {
    margin-bottom: 4px;
}
.payment-method.transparent h3.pay-heading {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 10px;
}
.login-footer {
    padding: 10px 100px 10px;
    margin-top: 10px;
}
.payment-outer-div .payment-method {
    width: 100%;
    padding: 5px 15px;
}
input.input-control.pay-input {
    height: 45px;
}
.payment-method.transparent h3.pay-heading {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 6px;
}
div#myPayment button.close {
    right: 9px;
    top: 13px;
}


}




@media screen and (max-width: 767px){


.banner-content {
    top: 144px;
    left: 0px;
    text-align: center;
}
.banner-image img.banner-desktop {
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 71%;
    width: auto;
}
.container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
}
.package-report .report-box {
    width: 80%;
    margin: 0 0 70px;
    text-align: center;
}
ul.report-list{
    float: none;
    width: auto;
    display: inline-block;
}
}

@media screen and (max-width: 767px){
 .optical-background {
    height:946px;
}
.optical-background img {
    width: 100%;
    height:946px;
        object-fit: cover;
}
.optical-content .col-md-7.col-sm-7.col-xs-7 {
    width: 100%;
    float: left;
}
.optical-content .col-md-5.col-sm-5.col-xs-5{
    width: 100%;
    float: left;
}
.banner-content .col-md-8 {
    margin-left: 40px;
}
.inner-optcal{
    float: left;
}
.Optimal_Price-price.asking {
    margin-top: 20px;
}
.Optimal_Price-price.asking.purchase {
    margin-top: 0px;
}
.optical-content {
   padding-left: 160px;
}
.banner h1 {
    font-size: 42px;
    margin-bottom: 11px;
    width: 320px;
    text-align: center;
    margin: 0 auto 13px;
    float: none;
}
.banner a {
    padding: 18px 75px;
    min-width: 217px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.banner-image img.banner-desktop {
    height: 61%;
}
.Optimal_Price-price {
    margin-bottom: 25px;
}
.optical-content {
    padding: 117px 0 120px;
}

.Skew_dashboard_cards {
    padding: 0 15px;
}
.Optimal_Price-l h1{
    text-align: center;
}
.Optimal_Price-l p {
    text-align: center;
}
.inner-optcal {
    float: right;
}
.Capstack_reports h1 {
    font-size: 42px;
    text-align: center;
}
.Capstack_reports p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}
.Capstack_reports h6 {
    font-size: 16px;
    text-align: center;
    width: 100%;
}
.main_dashboard_banner .banner p {
    padding: 2px 72px;
}

}


@media screen and (max-width: 666px){
.banner-content .col-md-8 {
     margin-left: 0px;
}
.banner-content {
    text-align: center;
}
.Skew_dashboard-l h1 {
    float: left;
    width: 98%;
    margin-bottom: 20px;
    text-align: center;
}
.growing-h1 {
    display: none;
}
.growing-h1.responsive {
    display: block;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card h5  {
    display: none;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card h5.responsive {
    display: block;
}
.Skew_dashboard_cards .Skew_dashboard_Single_card h5 {
    font-size: 16px;
    color: #002d5e;
    padding: 0 5px;
}
.Skew_dashboard-r img {
    width: 90%;
    margin: 0 auto;
}
.Capstack_reports h1{
    font-size: 39px;
    text-align: center;
}
.Capstack_reports p{
    font-size: 15px;
    margin-bottom: 0;
    text-align: center;
}
.Capstack_reports h6{
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 20px 50px 0;
}
.Capstack_reports ul li{
    float: left;
    width: 90%;
    list-style: disc;
    font-size: 15px;
    color: #9FA6B4;
    font-weight: 600;
    list-style-position: outside;
    padding-left: 3px;
    margin: 4px 0 5px 22px;
}
.Optimal_Price-l p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    }
.Capstack_reports {
    padding: 0 0 15px 10px;
}

.optical-content {
    padding-left: 0;
}
.Optimal_Price-l p br{display: none;}
.Skew_dashboard-div {
    height: 1130px;
}
.Skew_dashboard-r {
    width:90% !important;
        position: initial;
}

.l-skew-in-div1, .l-skew-in-div2 {
    float: left;
    width: 48%;
}
.banner p br {
    display: none;
}
.Capstack_reports .col-md-6 {
    width: 100%;
    margin: 0 auto;
}
.main_dashboard_banner .logo img {
    width: 170px;
}
.Optimal_Price-l h1 {
    font-size: 42px;
    line-height: 58px;
}
.main_dashboard_banner .banner p {
    float: left;
    width: 100%;
}
}

@media screen and (max-width: 480px){
.Skew_dashboard-div {
    height: 1050px;
}
.Skew_dashboard-r {
    width:90% !important;
        position: initial;
}

.l-skew-in-div1, .l-skew-in-div2 {
    float: left;
    width: 47%;
}
.Skew_dashboard_cards .row {
    width: 100%;
    margin: 0;
}


.inner-optcal{
    float: right;
    padding-right: 20px;
}




}


@media screen and (max-width: 414px){
    .banner-content p br {
        display: none;
    }
    .main_dashboard_banner .banner p {
        font-weight: 500;
        margin-top: 0;
    }
    .banner a {
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
    }
    .banner-image img.banner-desktop {
        height: 44%;
        bottom: 28px;
    }
    .main_dashboard_banner .banner p.free {
        padding: 6px 0 0;
        margin-top: 0;
        font-size: 16px;
    }
    .banner h1 {
        font-size: 39px;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto 0px;
        line-height: 50px;
    }
    .main_dashboard_banner .banner p {
        padding: 2px 7px;
    }
    .main_dashboard_banner .banner {
        height: 80vh;
    }

    .main_dashboard_banner {
        height: 80vh;
    }
    .banner-image {
        height: 80vh;
    }
    .banner-content {
        top: 114px;
        left: 0px;
        text-align: center;
    }
    .banner a {
        font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding: 16px 75px;
}
    .banner-image img.banner-desktop {
        height: 44%;
        bottom: 0;
    }
    .Skew_dashboard-div {
            top: -22px;
        }
    .Skew_dashboard_cards .Skew_dashboard_Single_card img {
        width: 46%;
    margin-bottom: 18px;
}
.main_dashboard_banner .banner p.free {
    padding: 6px 0 0;
    margin-top: 0;
    font-size: 14px;
}
.Skew_dashboard-div {
    height: 1000px;
    margin-bottom: 0;
}
.Capstack_reports {
    padding: 0 0 15px 10px;
    margin-top: 0px;
}
.Capstack_reports h6 {
    margin-bottom: 0;
    line-height: 20px;
}
.left-laptop-img {
    margin-top: 0;
    float: left;
    width: 100%;
    position: initial;
    text-align: center;
    left: 0;
    margin-top: 50px;
}
.Optimal_Price-l h1 {
    font-size: 39px;
    line-height: 50px;
    margin-top: 38px;
}
.Optimal_Price-price.asking h3 {
    padding: 19px 12px;
    font-size: 15px;
}
.Optimal_Price-price.asking h4 {
    padding:25px 20px;
    font-size: 20px;
}
.Optimal_Price-price.target-irr h4 {
    padding: 25px 50px;
    font-size: 20px;
}
.Optimal_Price-price.target-irr h3 {
    padding: 19px 15px;
}
.Optimal_Price-price.target h3 {
    padding: 10px 15px;
}
.Optimal_Price-price.target h4 {
    min-height: 63px;
    font-size: 20px;
    padding: 25px 49px;
}
.Optimal_Price-price.purchase h4 {
    padding: 39px 36px;
    min-height: 79px;
    font-size: 23px;
    min-width: 160px;
}
.Optimal_Price-price.purchase h3 {
    padding: 26px 23px;
}
.inner-optcal h3 {
    line-height: 17px;
    font-size: 17px;
    font-weight: 700;
}
.Skew_dashboard-l h1 {
    font-size: 39px;
}
.Optimal_Price-price.asking h3 {
    padding: 19px 12px;
    font-size: 17px;
}
.Optimal_Price-price.asking.purchase h3 {
    padding: 26px 12px !important;
}

}
@media screen and (max-width: 413px){
    .banner h1 {
        font-size: 32px;
        width: 100%;
        line-height: 37px;
    }
    .main_dashboard_banner .banner p.free {
        padding: 6px 0 0;
        margin-top: 0;
        font-size: 14px;
    }
    .Skew_dashboard-l h1 {
        font-size: 33px;
    }
    .l-skew-in-div1, .l-skew-in-div2 {
        float: left;
        width: 46%;
    }
    .Skew_dashboard_cards .Skew_dashboard_Single_card h5 {
        font-size: 14px;
        color: #002d5e;
        padding: 0 0px;
    }
    .Skew_dashboard-div {
        height: 960px;
    }
    .Capstack_reports h1 {
        font-size: 32px;
        text-align: center;
    }
    .Capstack_reports .col-md-6 {
        width: 100%;
        margin: 0 auto;
    }
    .Capstack_reports h6 {
        width: 100%;
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .Optimal_Price-l h1 {
        font-size: 32px;
        line-height: 48px;
    }
    .Optimal_Price-l p {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        text-align: center;
    }
    .Optimal_Price-price.asking h4 {
        padding: 5px 33px;
    }
    .Optimal_Price-price.purchase h3 {
        padding: 14px 16px;
    }
    .Optimal_Price-price.asking h3 {
        padding: 15px 12px;
        font-size: 15px;
    }
    .Optimal_Price-price.asking h4 {
        padding: 5px 27px;
    }
    .Optimal_Price-price.asking.purchase h3 {
        padding: 20px 8px !important;
    }
    .Optimal_Price-price.purchase h4 {
        padding: 33px 10px;
    }
    .optical-background {
        height: 946px;
    }
    .optical-background img {
        width: 100%;
        height: 946px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

    .main_dashboard_banner .banner {
        height: 780px;
        margin-top: 0;
    }
    div#contentToConvert .banner {
        height: auto;
    }
    .banner-image {
        height: 780px;
    }
    .main_dashboard_banner {
        height: 780px
    }
    .Skew_dashboard_cards .Skew_dashboard_Single_card img {
        width: 52%;
        margin-bottom: 39px;
    }

}

    .modal-dialog {
        width: 100% !important;
        margin: 30px auto;
    }
